TromboseNodeRed.txt
[{"id":"e912a566.f42d58","type":"tab","label":"Flow 5"},{"id":"3f8325b8.1cfc4a","type":"mosca in","z":"e912a566.f42d58","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":159,"y":512.0000019073486,"wires":[["22de4b23.6a84b4"]]},{"id":"22de4b23.6a84b4","type":"debug","z":"e912a566.f42d58","name":"","active":true,"console":"false","complete":"payload","x":416.00000381469727,"y":505.00000190734863,"wires":[]},{"id":"6f239354.0726cc","type":"mqtt out","z":"e912a566.f42d58","name":"topic","topic":"t1","qos":"0","retain":"false","broker":"b8489c4f.9dd67","x":433.00000381469727,"y":133.00000381469727,"wires":[]},{"id":"378d88d6.425f08","type":"mqtt in","z":"e912a566.f42d58","name":"","topic":"t1","qos":"0","broker":"6b51eff4.769a5","x":154,"y":329,"wires":[["80f0d.d4f7f0f3"]]},{"id":"80f0d.d4f7f0f3","type":"debug","z":"e912a566.f42d58","name":"","active":true,"console":"false","complete":"false","x":326,"y":343,"wires":[]},{"id":"57f0608d.3a2ac","type":"inject","z":"e912a566.f42d58","name":"","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189,"y":160.00000286102295,"wires":[["6f239354.0726cc"]]},{"id":"8ed2767a.db7a38","type":"inject","z":"e912a566.f42d58","name":"Entfernungen","topic":"t1","payload":"{\"VL\":12,\"HL\":0,\"VR\":0,\"HR\":157.13}","payloadType":"json","repeat":"","crontab":"","once":false,"x":185,"y":218.00000381469727,"wires":[["6f239354.0726cc"]]},{"id":"1c34ea06.f85056","type":"johnny5","z":"e912a566.f42d58","name":"","func":"  var entfArray = [];\n  var lastEntf=0;\n  var lastTime=new Date();//\n  \n  var proximity = new five.Proximity({\n    controller: \"GP2Y0A21YK\",\n    pin: \"A0\"\n  });\n\n  proximity.on(\"data\", function() {\n      if (entfArray.length==10)\n        entfArray.shift();\n      entfArray.push(this.cm);\n\t  var sum = 0;\n\t  for( var i = 0; i < entfArray.length; i++ ){\n          sum += parseInt( entfArray[i], 10 );\t\n\t  }\n\n      var avg = sum/entfArray.length;\n\t  var pay = {\n\t\t  average: 0,\n\t\t  lastEntfdiff: 0,\n\t\t  length:0\n\t  }\n\t  \n\t  pay.average=avg;\n\t  pay.lastEntfdiff=Math.abs(lastEntf-avg);\n\t  pay.length=entfArray.length;\n\t  var currentTime=new Date();\n\t  if (Math.abs(lastEntf-avg) > 3 && currentTime-lastTime>200)\n\t  {\n\t\t     node.send({topic: \"Avg\", payload: JSON.stringify(pay)});\n\t\t\t lastEntf=avg;\n\t\t\t lastTime=currentTime;\n\t  }\n\t\t   \n  });\n\n","board":"2906376f.7bef88","noerr":0,"x":198.10000610351562,"y":46.80000305175781,"wires":[["f03507fd.18fa08","6f239354.0726cc"]]},{"id":"f03507fd.18fa08","type":"debug","z":"e912a566.f42d58","name":"","active":true,"console":"false","complete":"false","x":381.00000381469727,"y":45.00000476837158,"wires":[]},{"id":"b8489c4f.9dd67","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6b51eff4.769a5","type":"mqtt-broker","z":"","broker":"192.168.188.29","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"2","birthPayload":""},{"id":"2906376f.7bef88","type":"nodebot","z":"","name":"Arduino1","username":"","password":"","boardType":"firmata","serialportName":"COM3","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":""}]