TromboseNodeRed2.txt
[{"id":"4e6224ef.90c204","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d3fc33b2.4982b","type":"debug","z":"4e6224ef.90c204","name":"Average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":180,"wires":[]},{"id":"b20095c5.05d7","type":"random","z":"4e6224ef.90c204","name":"","low":"1","high":"100","inte":"true","property":"payload","x":320,"y":280,"wires":[["bdbce1c0.04e418","7de7e7d8.7c93e"]]},{"id":"2ab59384.1a9154","type":"inject","z":"4e6224ef.90c204","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","x":110,"y":420,"wires":[[]]},{"id":"9ad2e8a5.90288","type":"function","z":"4e6224ef.90c204","name":"ValueChangeThreshold","func":"    var lastValue = context.get('lastValue')||0;\n\tvar currentValue=parseInt(msg.payload,10);\n\tif (Math.abs(lastValue-currentValue) > 2 )\n\t{\n\t    context.set('lastValue',currentValue);\n\t\treturn msg;\n\t}\n\t\t   \n\n","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["b1afaac0.5cd208"]]},{"id":"24e8483c.e66a98","type":"inject","z":"4e6224ef.90c204","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["b20095c5.05d7"]]},{"id":"265b2744.40c828","type":"function","z":"4e6224ef.90c204","name":"AverageFilter","func":"\n    \n      var valueArray = context.get('valueArray')||[];\n      if (valueArray.length==10)\n        valueArray.shift();\n      valueArray.push(parseInt(msg.payload,10));\n      \n      context.set('valueArray',valueArray);\n      \n\t  var sum = 0;\n\t  for( var i = 0; i < valueArray.length; i++ ){\n          sum += valueArray[i];\t\n\t  }\n\n      var avg = sum/valueArray.length;\n      \n      \n\t  node.send({topic: \"Avg\", payload: avg});\n\t\n","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["ee3e0646.154c48","d3fc33b2.4982b"]],"inputLabels":["ArrayLength"],"icon":"node-red/join.png"},{"id":"b53c3034.79f2","type":"random","z":"4e6224ef.90c204","name":"","low":"1","high":"100","inte":"true","property":"payload","x":320,"y":360,"wires":[["265b2744.40c828","bdbce1c0.04e418"]]},{"id":"ee3e0646.154c48","type":"function","z":"4e6224ef.90c204","name":"ValueChangeThreshold","func":"    var lastValue = context.get('lastValue')||0;\n\tvar currentValue=parseInt(msg.payload,10);\n\tif (Math.abs(lastValue-currentValue) > 2 )\n\t{\n\t    context.set('lastValue',currentValue);\n\t\treturn msg;\n\t}\n\t\t   \n\n","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["bc5c36c4.2fc438"]]},{"id":"1f968c16.a5c2cc","type":"function","z":"4e6224ef.90c204","name":"CreateJSONObject","func":" var pay = {\n\t\t  Left: 0,\n\t\t  Right: 0,\n\t  }\n\t  \n\t  pay.Left=context.get('Left')||0;\n\t  pay.Right=context.get('Right')||0;\n\t  \nif (msg.topic==\"Left\")\n{\n    pay.Left=msg.payload;\n    context.set('Left',pay.Left);\n}\nif (msg.topic==\"Right\")\n{\n    pay.Right=msg.payload;\n    context.set('Right',pay.Right);\n}\n\nvar newMsg = { payload: JSON.stringify(pay) };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1190,"y":320,"wires":[["d6bc8cb2.db31a"]]},{"id":"70eb6225.99125c","type":"debug","z":"4e6224ef.90c204","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":560,"wires":[]},{"id":"808ddd2e.fc8728","type":"inject","z":"4e6224ef.90c204","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["b53c3034.79f2"]]},{"id":"bdbce1c0.04e418","type":"debug","z":"4e6224ef.90c204","name":"Random","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":200,"wires":[]},{"id":"b1afaac0.5cd208","type":"change","z":"4e6224ef.90c204","name":"AddTopic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":280,"wires":[["1f968c16.a5c2cc"]]},{"id":"bc5c36c4.2fc438","type":"change","z":"4e6224ef.90c204","name":"AddTopic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":360,"wires":[["1f968c16.a5c2cc"]]},{"id":"d6bc8cb2.db31a","type":"delay","z":"4e6224ef.90c204","name":"RateLimit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":440,"wires":[["70eb6225.99125c"]]},{"id":"7de7e7d8.7c93e","type":"function","z":"4e6224ef.90c204","name":"AverageFilter","func":"\n    \n      var valueArray = context.get('valueArray')||[];\n      if (valueArray.length==10)\n        valueArray.shift();\n      valueArray.push(parseInt(msg.payload,10));\n      \n      context.set('valueArray',valueArray);\n      \n\t  var sum = 0;\n\t  for( var i = 0; i < valueArray.length; i++ ){\n          sum += valueArray[i];\t\n\t  }\n\n      var avg = sum/valueArray.length;\n      \n      \n\t  node.send({topic: \"Avg\", payload: avg});\n\t\n","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["9ad2e8a5.90288","d3fc33b2.4982b"]],"inputLabels":["ArrayLength"],"icon":"node-red/join.png"}]